*{
	box-sizing: border-box;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"]{
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}

.row:after{
	content: "";
	clear: both;
	display: block;
}
img{
	max-width: 100%;
	height: auto;
}
.container{
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.container-fluid{
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 768px){
	.container{
		width: 750px;
	}
}
@media (min-width: 992px){
	.container{
		width: 970px;
	}
}
@media (min-width: 1200px){
	.container{
		width: 1170px;
	}
}

@media only screen and (max-width: 320px){
	.col-3 {width: 100%;}
}

header h1{
		float: left;
	}

    /****************************** TESTE **************/    

body {
	font-family: 'Roboto', sans-serif;
	background-color: #fcfafa; 
	margin-top: 30;
}
.logo{
    width: 60px;
    height: 60px;
    padding: 10px;
    margin: 0;
}
a{
  text-decoration:none;
  color:rgb(0,0,0);
  font-family:sans-serif;
  font-weight:bold;
  text-shadow:1.5px 2px 0 rgba(0,0,0,.2);
  transition:color linear .4s; 
  -webkit-transition:color linear .4s; 
  -moz-transition:color linear .4s; 
}

a:hover{
  color:#05a;
}

header{
  background:rgb(240,240,240);
  height: 80px;
  width: 100%;
  position:absolute;
  top:0;
  left:0;
  border-bottom:3px solid #05a;
  z-index:100;
}

nav{
  padding:10px;
  float:left;
}
ul{
  list-style:none;
}

li{
  display:inline-block;
  padding:20px;
}
h1{

}

